@import "variables", "typography";

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 25px;
  }
}

.btn {
  color: $white;
  background-color: $primary;
  border: 0;
  border-radius: 0;
  transition: all 0.5s ease;

  &:focus {
    box-shadow: none;
    color: $primary;
    background-color: $white;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__header {
    align-self: center;
    font-size: 10px;
    line-height: 12px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
      padding: 15px;
    }
  }

  &__padding__1550 {
    padding: 15px 50px;
  }
}

.btn-callback {
  position: relative;
  font-size: 8px;
  color: #5284f7;
  border: none;
  background: transparent;
  box-shadow: none;

  img {
    width: 8px;
    line-height: 9px;
  }

  @media screen and (min-width: 400px) {
    font-size: 12px;

    img {
      width: 12px;
      line-height: 13px;
    }
  }
  @media screen and (min-width: 576px) {
    font-size: 16px;
    border-bottom: 1px dashed #5284f7;

    img {
      width: 18px;
      line-height: 19px;
    }
  }
}

.text {
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 36px;
    margin: 40px 0 72px;
  }

  &__margin {
    &__main {
      margin: 40px 0 75px;
    }

    &__instock {
      margin: 10px 0 56px;
    }
  }
}

body {
  background-color: white;
  position: relative;
}

.header {
  padding: 2rem 0px 20px;

  &_logo {
    margin-right: 10px;
    max-width: 198px;
    min-width: 125px;
  }

  &_text {
    font-size: 10px;
    line-height: 14px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &_contacts {
    font-size: 10px;
    font-weight: 600;
    @media screen and (min-width: 576px) {
      font-size: 16px;
    }
    @media screen and (min-width: 992px) {
      font-size: 22px;
    }
  }
}

.border__bottom {
  border-bottom: 1px solid #aeb6bb;
}

.main {
  &__padding {
    padding: 1.5rem 0;

    @media (min-width: 992px) {
      padding-top: 170px;
      padding-bottom: 55px;
    }
  }

  .bg {
    position: relative;
    right: 10%;
    z-index: -1;
    width: 120%;

    @media (min-width: 992px) {
      right: 25%;
      width: 200%;
    }
  }
}

.personal {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: #e28519;
  border-radius: 14px;
  padding: 6px;
  .btn_personal {
    color: $white;
    background: #e28519;
    border: 1px dashed #ffffff;
    padding: 1rem;
    border-radius: 8px;
    align-self: center;
    font-size: 16px;
    line-height: 19px;

    &:focus {
      box-shadow: none;
    }
  }
}

.instock {
  &__padding {
    padding: 32px 0 45px;

    @media (min-width: 992px) {
      padding: 105px 0 130px;
    }
  }
}

.nav-tabs {
  .nav-link {
    color: #606774;
    border: 1px solid #d3dfe6;
    border-radius: 0%;
    height: 100%;
    margin-bottom: 0;
    padding: 20px;

    img {
      margin-bottom: 18px;
    }
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #edf1f4;
  border-color: #aeb6bb;
}

.border_gray {
  border: 1px solid #aeb6bb;
}

.tab {
  &_window {
    padding: 110px 65px 90px;
  }
}
